<nav class="navbar navbar-default" ng-controller="HeaderCtrl as header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" title="Go to home feed">SoftUni Social</a>
    </div>
    <div class="collapse navbar-collapse" id="header-navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="users/{{header.me.username}}" title="Your profile">
          <img ng-src="data:image/JPEG;base64,{{header.me.profileImageData}}" ng-if="header.me.profileImageData" alt="Profile image">
          <span class="glyphicon glyphicon-user" ng-if="!header.me.profileImageData"></span>
          {{header.me.name}}</a>
        </li>
        <li ng-if="!header.requests.length"><a href="requests"><span class="glyphicon glyphicon-transfer"></span> Friend requests</a></li>
        <li ng-if="header.requests.length" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-transfer"></span> Friend requests <span class="badge">{{header.requests.length}}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="request in header.requests | filter: {status: 0}"
             ng-controller="FriendRequestCtrl as requestCtrl"
             class="row"
             style="margin:0;width:240px">
              <div class="col-xs-3">
                <img ng-src="data:image/JPEG;base64,{{request.user.profileImageData}}" ng-if="request.user.profileImageData" alt="Profile image">
                <span class="glyphicon glyphicon-user" ng-if="!request.user.profileImageData"></span>
              </div>
              <div class="col-xs-5">
                {{request.user.name}}
              </div>
              <div class="col-xs-2">
                <a ng-click="requestCtrl.approveRequest(request)"><span class="glyphicon glyphicon-ok-circle"></span></a>
              </div>
              <div class="col-xs-2">
                <a ng-click="requestCtrl.rejectRequest(request)"><span class="glyphicon glyphicon-remove-circle"></span></a>
              </div>
            </li>
            <li class="divider"></li>
            <li><a href="requests">See all requests</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="Settings"><span class="glyphicon glyphicon-cog"></span><span class="sr-only">Settings</span> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="me/edit"><span class="glyphicon glyphicon-edit"></span> Edit profile</a></li>
            <li><a href="me/password"><span class="glyphicon glyphicon-lock"></span> Change password</a></li>
            <li class="divider"></li>
            <li><a href="logout" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form" role="search" style="max-width: 800px">
        <div class="form-group" style="display: inline">
          <div class="input-group" style="display:table;">
            <input class="form-control" name="search" placeholder="Search users by name..." autocomplete="off" autofocus="autofocus" type="text">
            <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
